---
import { Image } from "astro:assets";
import { getData } from "../utils/projects";
const data = getData();
---

<section id="projects" class="text-primary body-font w-5/6 mx-auto">
  <div class="py-24 mx-auto">
    <h1
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="mb-8 font-extrabold text-center text-4xl text-transparent bg-clip-text bg-gradient-to-tr from-[#d7d7d7] to-[#616161]"
    >
      Recent Projects
    </h1>

    <p
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="mb-6 font-light text-gray-500 md:text-lg text-justify dark:text-gray-400 sm:text-center  sm:w-5/6 w-full mx-auto"
    >
     In 2023 Collabating with the <b class="font-bold">University Of Jaffna</b>{" "} me & my team developed a managment system for university medical center. <b class="font-bold"> PHP Html & CSS</b>{" "} Used as technologies.After That in 2024 - Present i am developing a web & mobile based managment system for <b class="font-bold">Wasana Bakers & Pvt Ltd</b>{" "}
     (can't preview the projects due to the privacy problems)
     In 2024 I Created a Alternative App For<b class="font-bold"> People's Wave App</b> , Official Website For <b class="font-bold"> KushCobar.lk</b> , Python Project in<b class="font-bold"> Networking Traffic Tracing</b>.Links & More Details On My <b class="font-bold"> Linkedin</b> & <b class="font-bold"> Github</b>
    </p>
    <p
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="text-gray-400 font-medium text-lg text-center mb-16 w-full mx-auto "
    >
    
    </p>
    
  </div>
</section>
